.carousel {
  position: relative;
  margin-inline: auto;
  width: 500px;
}

.slide {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.button.previous {
  left: 0;
}
.button.next {
  right: 0;
}

.indicators {
  align-items: center;
  bottom: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.indicators .indicator {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  font-size: 0;
  padding: 0;
  height: 0.5rem;
  width: 0.5rem;
}
.indicators .indicator.active {
  background-color: #222;
}
